<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.eecs.rtcl.blemon" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notification"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--
       <activity
           android:name=".MainActivity"
           android:label="@string/app_name"
           android:launchMode="singleInstance"
           android:screenOrientation="portrait" >
          <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>

        </activity>
        -->
        <service
            android:name=".ScannerService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="edu.umich.eecs.rtcl.blemon.BLEMonUI"
            android:label="@string/title_activity_blemon_ui"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="edu.umich.eecs.rtcl.blemon.AlarmHandler" />

        <receiver android:name="RTCLStartupIntentReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action   android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
